.jobsBody .profileLeft .skills .skill{
  margin-bottom: 14px;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
  display: flex; 
  align-items: center;
  cursor: pointer;
}
.jobsBody .profileLeft .skills .skill:hover{
  text-decoration: underline;
}
.jobsBody .profileLeft .skills .skill .skillName{
  margin-right: 10px;
}
.jobsBody .profileLeft .skills .skill .endorse{
  font-weight: 450;
  color: rgb(112, 112, 112);
}
.jobsBody .profileLeft .skills .skillBox{
  display: flex;
  width: 100%;
  position: relative;
  border-bottom: #d3e0f7 1.8px solid;
  margin-bottom: 16px;
  /* justify-content: space-between; */
}
.jobsBody .profileLeft .skills .skillBox .editDiv{
  position: absolute;
  top: 0;
  right: 4px;
  padding : 5px 10px;
  border-radius: 50%;
  transform: translateY(-7px);
  cursor: pointer;
}
.jobsBody .profileLeft .skills .skillBox .editDiv:hover{
  color: #0a66c2;
  background-color: #d3e0f7;
}
.jobsBody .profileLeft .skills .showMore{
  border: #d3e0f7 2px solid;
  text-align: center;
  color: #0a66c2;
  cursor: pointer;
  padding: 9px;
  font-size: 13px;
  margin-top: 30px;
}
.jobsBody .profileLeft .skills .showMore:hover{
  background-color: #d3e0f7;
}