.signupBody{
  /* border: red 1.5px solid; */
  min-height: 90vh;
  height: auto;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  /* background-color: rgb(237,237,237); */
  background-color: #e1e9ee;
  background-image: linear-gradient(rgba(0,0,0, 0.52),rgba(0,0,0, 0.7)), url('../../assets/6.png');
  background-position: center;
  background-size: cover;
}
.signupForm{
  border: white 1.4px solid;
  background-color: white;
  padding: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
  /* padding-top: 100px; */
  /* height: 500px; */
  /* width: 400px; */
  /* box-shadow : 0px 3px 9px #c6c6cc; */
}
.formOneHead{
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 35px;
}
.formTwoHead{
  margin-bottom: 10px;
}
.checkGif img{
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
}
.signupFormOne label,.signupFormTwo label{
  margin-bottom: 0px;
  font-size: 14px;
}
.signupFormOne input,.signupFormTwo input{
  font-size: 14px;
}
.signupFormOne .btn-dark{
  width: 100%;
  margin: 20px 0px;
  border-radius: 0px; 
}
.signupFormOne .text-danger{
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  right: 0;
}
.signupFormTwo{
  padding: 10px;
  width: 45vw;
  min-width:240px;
}
.signupFormTwo span{
  color: red;
  font-size: 12.9px;
  position: absolute;
}
.formTwoDateSection{
  display: flex;
}
.formTwoDates{
  width: 20%;
}
.formTwoDateTwo{
  display: inline-block;
}

.signupFormTwo{
  max-height: 60vh;
  overflow-y: scroll;
}


.otpInputDiv{
  margin-top: 20px;
}
.otpInputDiv>div{
  width: 100%;
  display: flex;
  justify-content: center;
}
.otpInputDiv>div>div>input{
  width: 30px !important;
}

.loaderWindow{
  width: 300px;
  height: 400px;
}


@media (max-width:500px){
  .signupFormTwo span{
    color: red;
    font-weight: 500;
    font-size: 11.4px;
    position: absolute;
  }
}

@media (max-width:890px){
  .formTwoDateSection{
    display: flex;
    flex-direction: column;
  }
  .formTwoDates{
    width: 50%;
  }
}