*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body{
  min-height: 90vh;
  margin-top: 10vh;
  /* height: auto; */
  /* border: red 2px solid; */
  background-color: #f9f9f9;
  background-color: #f5f5f5;
  /* padding: 9vh 5vw; */
  padding: 50px 70px;
}
.homeBody{
  /* height: 90vh; */
  margin-top: 10vh;
  /* border: red 1.4px solid; */
}
.jobsBody{
  margin-top: 10vh;
  padding: 50px 70px;
  background-color: #f9f9f9;
  background-color: #edf0f5;
  /* background-color: #d0d6e0; */
  background-color: #f5f5f5;
  min-height: 90vh;
}
.postJobsBody{
  background-color: #02476e;
  background-color: #006097;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profPage{
  display: flex;
  flex-wrap: wrap;
}
.modal-backdrop.show{
  opacity: 0.7;
}

@media (max-width:701px){
  .body{
    margin-top: 8.5vh;
  }
  .jobsBody{
    margin-top: 8.5vh;
  }
}
@media(max-width:612px){
  .jobsBody{
    margin-top:8.7vh;
    padding: 40px 30px;
    min-height: 91vh;
  }
}


@media(max-width:688px){
  .feedBody{
    padding: 4.5vh 0px;
  }
}













