.feedBody .notificationColumn{
  background-color: white;
  border: #ccc 1.4px solid;
  /* padding: 6px 10px; */
  border-radius: 8px 8px 0px 0px;
  max-height: 73vh;
  overflow-y: scroll;
}
.feedBody .notificationColumn::-webkit-scrollbar {
  display: none;
}
.feedBody .notificationColumn h6{
  margin-bottom: 0px;
}
.feedBody .notificationColumn .heading{
  padding: 10px 14px 12px 14px;
  color: rgb(109, 109, 109);
  border-bottom: #ccc 1.4px solid;
}
.feedBody .notificationColumn .notification{
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: #ccc 1.4px solid;
  padding-right: 100px;
  position: relative;
}
.feedBody .notificationColumn .notification h6{
  font-weight: 400;
  font-size: 13.7px;
}
.feedBody .notificationColumn .notification img{
  height: 56px;
  width: 56px;
  border-radius: 50%;
  margin-right: 10px;
}
.feedBody .notificationColumn .notification a{
  color: black;
  text-decoration: none;
  font-weight: 300;
}
.feedBody .notificationColumn .notification b{
  font-weight: 630;
}
.feedBody .notificationColumn .emptyNotifications{
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feedBody .notificationColumn .emptyNotifications h6{
  /* font-weight: 350; */
  color: grey;
}
.feedBody .notificationColumn .notification .timeStamp{
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  right: 20px;
}


@media (max-width:1276px){
  .postColumn{
    margin-left: 1.3vw;
    margin: auto;
  }
  .sideBox2{
    display: none;
  }
  .popDomains{
    display: none;
  }
}



















